<div class="page">
<a [routerLink]="['../../']">← Back to list</a>
  <div class="actions">
<button class="btn primary"
        *ngIf="suggestion as s"
        [routerLink]="['/suggestions', 'update', s.id]"
        [disabled]="!s.id">
  Update
</button>
  </div>

  <div *ngIf="suggestion as s" class="details-card">
    <h1>{{ s.title }}</h1>

    <div>
      <strong>Category:</strong> {{ s.category }} |
      <strong>Status:</strong> {{ s.status }}
    </div>

    <div>
      <strong>Date:</strong> {{ s.date | date:'dd/MM/yyyy' }}
    </div>

    <div>
      <strong>Likes:</strong> {{ s.nbLikes }}
    </div>

    <p><strong>Description</strong><br />{{ s.description }}</p>
  </div>
</div>